.body-container {
	margin: 70px auto;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: revert;
}

.card-img-produkt {
	height: 12vw;
}

.alert-nachricht {
	z-index: 99999;
	width: fit-content;
	right: 20px;
	left: auto;
}