/* Style */

/* Alle body-container Klassen haben oben und unten Abstand von 70 Pixeln (Navigatiosnleiste & Footer) */
.body-container {
	margin: 70px auto;
}

/* Alle alert-nachichten Klassen (Meldungen) werden unten rechts auf der Seite über alle Elemente gelegt */
.alert-nachricht {
	z-index: 99999;
	width: fit-content;
	right: 20px;
	left: auto;
}
